<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cld.cordova.applepay"
      version="1.0.0">

    <name>Apple Pay</name>
    <description>
      Implements ApplePay payment request. The plugin process the order info with Apple Pay data but doesn't send the transaction to the merchant.
      The callback gives back the payment token with the transaction identifier. You can then forward the transaction to be processed by the merchant of your choice.
    </description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>git@github.com:Creative-Licence-Digital/cordova-plugin-applepay.git</repo>


    <platform name="ios">

        <js-module src="www/applepay.js" name="payment">
            <clobbers target="ApplePay" />
        </js-module>

        <framework src="PassKit.framework"/>

        <header-file src="src/ios/CDVApplePay.h"/>
        <source-file src="src/ios/CDVApplePay.m"/>

        <config-file target="config.xml" parent="/*">
	        <feature name="ApplePay">
	            <param name="ios-package" value="CDVApplePay"/>
	        </feature>
        </config-file>

    </platform>

</plugin>
